.footer__container {
  /* position: absolute; */
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  background-color: var(--dark-500);
  padding-block: 1rem;
}

.footer__container p {
  color: var(--white);
  text-align: center;
  margin-bottom: 1rem;
}

.footer__container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}