.product__container {
  background-color: var(--light);
  padding-block: 1rem;
}

.product__container h1 {
  max-width: 235px;
  color: var(--red-300);
  font-size: 36px;
  line-height: 34px;
  font-weight: 700;
}

.product__container strong {
  color: var(--red-300);
  font-size: 1rem;
}
